<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itheima.mapper.DeptMapper">
<!-- resultType 表示指定返回的单条数据的类型-->
    <select id="findAll" resultType="com.itheima.pojo.Dept">
select id, name Name,create_time createTime,update_time updateTime from dept order by update_time desc
    </select>
    <delete id="deleteById" parameterType="int">
        delete from dept where id = #{id}
    </delete>
    <insert id="add" parameterType="com.itheima.pojo.Dept">
        insert into dept(name,create_time,update_time) values(#{name},#{createTime},#{updateTime})
    </insert>
    <select id="getById" parameterType="int" resultType="com.itheima.pojo.Dept">
    select id, name Name,create_time createTime,update_time updateTime from dept where id=#{id} order by update_time desc
    </select>
    <update id="update" parameterType="com.itheima.pojo.Dept">
    update dept set name=#{name},update_time=#{updateTime} where id=#{id}
    </update>
</mapper>